.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(90deg, #00bfff, #ff69b4);
}

.text {
  opacity: 0;
  transition: opacity 1s, font-size 2s;
  animation: fade-out 5s infinite;
  color: rgb(15, 7, 14);
}

@keyframes fade-out {
  0% {
    opacity: 0;
    font-size: 48px;
  }
  20% {
    opacity: 1;
    font-size: 24px;
  }
  40% {
    opacity: 1;
    font-size: 24px;
  }
  60% {
    opacity: 1;
    font-size: 48px;
  }
  80% {
    opacity: 1;
    font-size: 48px;
  }
  100% {
    opacity: 0;
    font-size: 48px;
  }
}
